*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.header{
	height: 100vh;
	width: 100%;
	background-image: url(../img/main.jpeg);
	background-size: cover;
	background-position: center;
	border-bottom: 1px solid white;
	
}
nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 25px;
	padding-bottom: 10px;
	padding-left: 8%;
	padding-right: 8%;
	position: fixed;
	background-color: #071c1f;
	width: 100%;
	z-index: 1;

}
.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #7bbe57;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #7bbe57;
	transition: .4s;
}
.btn{
	background-color:#7bbe57;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}
.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
		-webkit-text-stroke: 1px black;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
}


.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #0c2327;
	border-bottom: 1px solid white;
}
.about img{
	height: auto;
	width: 430px;
	box-shadow: 5px 5px 20px 5px white;

}


.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:#7bbe57;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #7bbe57;
	cursor: pointer;
}

.hobbies{

	background-color: #082122;
	width: 100%;
	padding: 100px 0px;
	border-bottom: 1px solid white;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.card img{
	width: fit-content;
	height:250px;
	margin-top:17px;
	box-shadow:5px 5px	#fdc0c0;
  }

  .hob{
	  font-size: 25px;
	  color: white;
	  margin-top: 20px;
	  font-family:cursive;
	  letter-spacing:1.5px;
  }


.myskills{
	width: 100%;
	height: 290px;
	background-color: #0c2327;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid white;
}
.myskills p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}


.skills{
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
	background-color: transparent;
	cursor: pointer;
	border: 2px solid #7bbe57;
}

footer{
	position: relative;
	width: 100%;
	height: 400px;
	background-color: #031315;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #7bbe57;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color:#7bbe57;
	bottom: 35px;
	font-size: 14px; 
}
